<a href="https://colab.research.google.com/github/alvas-education-foundation/nishanthvr/blob/master/Day_4_Session_2_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Example #1

In [ ]:
x=[1, 2, 3, 4, 5, 6]
print([(element * 2) for element in x])

[2, 4, 6, 8, 10, 12]

#Example #2

In [ ]:

x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[(element * 2 if element % 2 == 0 else element) for element in x]

[1, 4, 3, 8, 5, 12, 7, 16, 9, 20]

#Example #3 filtering only even numbers

In [ ]:
x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[element * 2 for element in x if element % 2 == 0]

[4, 8, 12, 16, 20]

#How to Choose Names

In [ ]:
name = 'John Smith'
first_name, last_name = name.split()
print(last_name, first_name, sep=', ')
'Smith, John'

Smith, John

'Smith, John'

#Code Layout

In [ ]:
class MyFirstClass:
    pass


class MySecondClass:
    pass


def top_level_function():
    return None

In [ ]:
class MyClass:
    def first_method(self):
        return None

    def second_method(self):
        return None

In [ ]:
def calculate_variance(number_list):
   sum_list = 0
   for number in number_list:
        sum_list = sum_list + number
   mean = sum_list / len(number_list)
   sum_squares = 0
   for number in number_list:
     sum_squares = sum_squares + number**2
     mean_squares = sum_squares / len(number_list)
  return mean_squares - mean**2