<a href="https://colab.research.google.com/github/alvas-education-foundation/nishanthvr/blob/master/python_day_3_session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
i=25
for x in range(2, i//2+1):
      if i%x==0:
         print("The number {} is not prime".format(i))
         break
if x ==i//2:
   print ("{} is a prime number".format(i))

The number 25 is not prime

In [2]:
i=25
for x in range(2, i//2+1):
      if i%x==0:
         print("The number {} is not prime".format(i))
         break
else:
    print ("{} is a prime number".format(i))

The number 25 is not prime

In [3]:
a, b = 2, 'my-string'
print(a)
print(b)

2
my-string

In [4]:
x = (1, 2, 4, 8, 16)
a = x[0]
b = x[1]
c = x[2]
d = x[3]
e = x[4]
print(a, b, c, d, e)

1 2 4 8 16

In [5]:
a,b,c,d,e=x
print(a, b, c, d, e)

1 2 4 8 16

In [6]:
a, *y, e = x
print(a)
print(y)
print(e)

1
[2, 4, 8]
16

In [7]:
x = 4
print(x >= 2 and x <= 8)

True

In [8]:
x=y=z=2
x, y, z # when we use , it becomes tuple

(2, 2, 2)

In [9]:
# normal way
x, y = 2, None
print(x == None)
print(y == None)
print(x != None)
print(y != None)

False
True
True
False

In [10]:
x is None
print(x is None)
print(y is None)
print(x is not None)
print(y is not None)

False
True
True
False

In [11]:
x = [1, 2, 4, 8, 16]
for i in range(len(x)):
  print(x[i])

1
2
4
8
16

In [12]:
for item in x:
  print(item)

1
2
4
8
16

In [13]:
for i in range(len(x)-1, -1, -1):
  print(x[i])

16
8
4
2
1

In [27]:
for item in x[::-1]:
     print(item)

4
0
3
0
2
1

In [15]:
for item in reversed(x):
  print(item)

16
8
4
2
1

In [16]:
for i, item in enumerate(x):
  print(i, item)

0 1
1 2
2 4
3 8
4 16

In [17]:
y = 'abcde'
for i in range(len(x)):
  print(x[i], y[i])

1 a
2 b
4 c
8 d
16 e

In [18]:

for item in zip(x, y):
  print(item)

(1, 'a')
(2, 'b')
(4, 'c')
(8, 'd')
(16, 'e')

In [19]:
for x_item, y_item in zip(x, y):
  print(x_item, y_item)

1 a
2 b
4 c
8 d
16 e

In [20]:
z = {'a': 0, 'b': 1}
for k in z:
  print(k, z[k])

a 0
b 1

In [21]:
for k, v in z.items():
  print(k, v)

a 0
b 1

In [22]:
#To print only non zero values from tuple x
x = (1, 2, 0, 3, 0, 4)
for item in x:
    if item != 0:
      print(item)

1
2
3
4

In [28]:
bool(0)
bool(-1), bool(1), bool(20), bool(28.4) 
for item in x:
  if item:
    print(item)

1
2
3
4

In [24]:
def func(value, seq=[]):
  seq.append(value)
  return seq
print(func(value=2))

[2]

In [25]:
def func(value, seq=None):
  if seq is None:
    seq = []
    seq.append(value)
    return seq
print(func(value=6))

[6]